@import '../variables.scss';
@import '../typography.scss';

@mixin mixContent {

h6 { font-size: 0.75rem; }
h5 { font-size: 1rem; }
h4 { font-size: 1.25rem; }
h3 { font-size: 1.5rem; }
h2 { font-size: 1.75rem; }
h1 { font-size: 2rem; }
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.618em 0;
}
p {
    margin: 0.618em 0;
}

ol, ul {
    padding-left: 1.618em;

    & > li {
        margin-bottom: 0.25em;
    }
}
dt {
    margin-top: 1em;
}
dd {
    margin-left: 1.618em;
}

a {
    color: var(--color-accent-fg);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &[href^="http"] {
        color: var(--color-danger-fg);
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    padding: $padding - 4 $padding;
    font-family: $font-family-code;
    border-radius: $radius;
    background-color: var(--color-neutral-subtle);
    // border: 1px solid var(--color-border-default);
    overflow-x: auto;
    
    & > code {
        padding: 0;
        display: block;
        background-color: transparent;
        overflow: visible;
    }
}

blockquote,
.note,
.warning {
    margin: 1em 0;
    padding: 0.4em 20px;
    border-left: 4px solid var(--color-attention-emphasis);
    background-color: var(--color-attention-subtle);
}

table {
    border-collapse: collapse;
    
    tr:nth-of-type(2n) {
        background-color: var(--color-neutral-subtle);
    }
    
    th, td {
        padding: $padding*$gold-ratio $padding;
        font-size: $font-size-small;
        border: 1px solid var(--color-border-default);
    }
}

.mdv-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.external-icon {
    margin: 0 4px 0 2px;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    color: var(--color-fg-default);
}

.macro {
    color: var(--fg-second);
    font-weight: lighter;
}

.readonly {
    padding: 0.2em 0.4em;
    font-size: 12px;
    background-color: var(--color-danger-emphasis);
    color: var(--color-fg-on-emphasis);
    border-radius: 4px;
}

.deprecated {
    margin: 1em 0;
    padding: 8px $padding;
    background-color: var(--color-danger-subtle);
    border-radius: $radius;

    .mdv-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    .title { margin: 0 }
    .desc {
        margin: 8px 0 0 20px+8;
        font-size: $font-size-small;
        overflow: hidden;
    }
}

}