@use 'sass:math';
@import '../variables.scss';
@import '../typography.scss';


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.titlebar {
    position: relative;
    width: 100%;
    height: $titlebar-height;
    background-color: var(--color-canvas-subtle);
    -webkit-app-region: drag;

    & > .logo {
        $s: 20px;
        width: $s;
        height: $s;
        margin: math.div($titlebar-height - $s, 2);
    }

    & > .menu-list {
        display: inline-flex;
        height: 100%;
        line-height: $titlebar-height + 1;
        color: var(--color-fg-muted);
        vertical-align: top;
        overflow: hidden;
        user-select: none;
        -webkit-app-region: no-drag;
        
        & > .menu-item {
            padding: 0 $padding;
            font-size: $font-size-small;
            // min-width: math.div($titlebar-height, $gold-ratio);
            // box-sizing: border-box;
            text-align: center;
            transition: .3s;

            &:hover {
                background-color: var(--bg-canvas-hover);
                color: var(--color-fg-default);
            }
        }

        & > .title {
            margin-left: 4px;
            color: var(--color-fg-default);
            font-size: $font-size-small;
        }
    }

    & > .control-buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        -webkit-app-region: no-drag;

        & > .chrome-restore {
            display: none;
        }
        &.max {
            & > .chrome-restore {
                display: inline-block;
            }
            & > .chrome-maximize {
                display: none;
            }
        }

        & > .control-btn {
            width: 48px;
            height: $titlebar-height;
            text-align: center;
            line-height: $titlebar-height;
            background-color: inherit;
            color: var(--color-fg-muted);
            transition: .3s;

            &:hover {
                background-color: var(--bg-canvas-hover);
            }
            &.chrome-close:hover {
                background-color: rgba(232,17,35,.9);
                color: var(--color-fg-on-emphasis);
            }
            & > .mdv-icon {
                position: relative;
                top: 1px;
                width: 16px;
                height: 16px;
                pointer-events: none;
            }
        }
    }
}

.container {
    flex: 1;
    position: relative;
    padding: $padding;
    scroll-behavior: smooth;
    overflow-y: auto;

    #sct-observe-helper {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
    }
}

#scroll-top {
    position: fixed;
    bottom: 70px;
    margin-right: -32px;
    right: calc((100% - $margin*4) / (1 + 1.25 + 3));
    padding: 14px;
    font-size: 0;
    background: var(--color-canvas-default);
    border-radius: 10px;
    box-shadow: var(--shadow-scroll-top);
    z-index: 9;
    cursor: pointer;
}

.statusbar {
    display: flex;
    padding: 0 $padding;
    height: $statusbar-height;
    background-color: var(--color-canvas-subtle);
    font-size: 12px;
    line-height: $statusbar-height;
    color: var(--color-fg-muted);
    user-select: none;

    & > .message {
        flex: 1;
        display: flex;
        align-items: center;

        & > .mdv-icon {
            margin-right: 4px;
            width: 16px;
            height: 16px;
        }
    }
}

.search-box {
    position: absolute;
    padding: 8px 0;
    background-color: var(--color-canvas-default);
    box-shadow: var(--color-shadow-extra-large);
    // border: 1px solid var(--color-border-default);
    border-top-width: 0;
    z-index: 9;
    box-sizing: border-box;

    & > .loading,
    & > .no-result {
        margin: $margin*2 0;
        font-size: $font-size-small;
        color: var(--fg-second);
        text-align: center;
    }

    .result-item {
        display: block;
        margin: 1px;
        color: var(--color-fg-subtle);
        text-decoration: none;
        overflow: hidden;
        transition: .3s;

        &:hover, &:focus,
        &.highlight {
            background-color: var(--color-neutral-subtle);
        }

        & > .title {
            color: var(--color-fg-default);
            word-break: break-word;

            & > mark {
                color: inherit;
                background-color: transparent;
                font-weight: bold;
            }
        }

        & > .url {
            margin-top: .15em;
            line-height: 1;
            font-size: $font-size-small;
            font-weight: lighter;
            word-break: break-all;
        }
    }
}
