@import './variables.scss';
@import './theme.scss';
@import './typography.scss';

@font-face {
    font-family: NotoColorEmoji;
    src: local('Noto Color Emoji'), url('/assets/NotoColorEmoji.ttf');
}

html {
    -webkit-font-smoothing: antialiased;
    font: 400 $font-size $font-family;
    line-height: $line-height;
    text-size-adjust: 100%;
}

code {
    padding: 0.2em 0.4em;
    background-color: var(--color-neutral-muted);
    font-size: 0.875em;
    font-family: $font-family-code;
    border-radius: $radius;
    vertical-align: text-bottom;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-scrollbar);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-emphasis);
    border-radius: $scrollbar-width*2;
    border: 4px solid var(--bg-scrollbar);
    min-height: 32px;
}

::selection {
    background-color: var(--color-success-muted);
}

// mdv prefix
.mdv-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}
// Emoji icon
i.mdv-icon {
    font-style: normal;
    vertical-align: text-bottom;
}
.mdv-input {
    padding: 8px 10px;
    font: inherit;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    border: 1px solid var(--color-border-default);
    border-radius: 2px;
    box-sizing: border-box;
    
    &:focus {
        border-color: var(--color-neutral-emphasis);
        outline: none;
    }

    &::placeholder {
        color: var(--fg-second);
        font-size: 1em;
    }
}
.mdv-select {
    display: inline-block;
    position: relative;

    & > select {
        padding: 4px 24px 4px 6px;
        font: inherit;
        border: 1px solid var(--bg-select);
        border-radius: $radius;
        background-color: var(--bg-select);
        appearance: none;
        outline: none;

        &:focus-visible {
            border-color: var(--color-attention-emphasis);
        }
    }

    & > .mdv-icon {
        width: $font-size;
        height: $font-size;
        position: absolute;
        right: 4px;
        top: 7px;
        pointer-events: none;
    }
}
.mdv-button {
    padding: 0.3em 0.6em;
    background-color: var(--bg-button);
    font-size: $font-size-small;
    color: var(--color-fg-default);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    &.outline {
        background-color: transparent;
        border-color: var(--color-border-default);
    }

    &:disabled {
        opacity: .75;
        cursor: not-allowed;
    }

    &:active {
        box-shadow: var(--shadow);
    }
}

dialog.modal {
    $anim-center: translate3d(0,-50%,0) scale3d(0.875,0.875,1);
    $duration: .3s;

    position: fixed;
    top: 50%;
    display: block !important;
    transform: $anim-center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    border-radius: $radius;
    background-color: var(--color-canvas-overlay);
    box-shadow: var(--shadow);
    border: none;
    color: inherit;
    visibility: hidden;
    transition: $duration;

    &[open] {
        visibility: visible;
        transform: translate3d(0,-52%,0) scale3d(1,1,1);

        &::backdrop {
            background-color: rgb(0 0 0 / 18%);
        }
    }

    &::backdrop {
        background-color: rgb(0 0 0 / 0%);
        transition: $duration;
    }

    & form {
        padding: 1em 1.618em 0 1.618em;
    }

    &-title {
        margin: 10px 0 16px 0;
    }
}

.mdv-alert {
    margin: $margin 0 0 0;
    padding: 8px $padding;
    background-color: var(--color-danger-subtle);
    border-radius: $radius;
    font-size: 14px;
}

.external-tip {
    position: absolute;
    padding: 2px 6px;
    color: var(--color-fg-default);
    font-size: 12px;
    background-color: var(--color-canvas-subtle);
    border: 1px solid var(--color-border-muted);
    border-radius: 2px;
    box-shadow: var(--color-shadow-small);
    z-index: 99;
    pointer-events: none;
}

// alias
.hidden {
    display: none;
}
