@import './variables.scss';
@import './theme.scss';
@import './typography.scss';

@font-face {
    font-family: NotoColorEmoji;
    src: url('/assets/NotoColorEmoji.ttf');
}

html {
    -webkit-font-smoothing: antialiased;
    font: 400 $font-size $font-family;
    line-height: $line-height;
    text-size-adjust: 100%;
}


input {
    padding: 8px 10px;
    font: inherit;
    color: var(--color-fg-default);
    background-color: transparent;
    border: 1px solid var(--color-border-default);
    border-radius: 2px;
    transition: .15s;
    
    &:focus {
        border-color: var(--color-neutral-emphasis);
        outline: none;
    }

    &::placeholder {
        color: var(--fg-second);
        font-size: 1em;
    }
}

code {
    padding: 0.2em 0.4em;
    background-color: var(--color-neutral-muted);
    font-size: 0.875em;
    font-family: $font-family-code;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: var(--color-canvas-inset);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-emphasis);
    border-radius: 24px;
    border: 4px solid var(--color-canvas-inset);
}

// mdv prefix
.mdv-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
}
// alias
.hidden {
    display: none;
}
