// primer-colors-[dark|light]
@import 'colors/_light.scss';
@import 'colors/_dark.scss';


@media (prefers-color-scheme: light) {
    :root {
        @include primer-colors-light;
        color-scheme: light;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        @include primer-colors-dark;
        color-scheme: dark;
    }
}

html, body {
    background-color: var(--color-canvas-default);
    color: var(--color-fg-default);
}
