@import './colors.scss';


// custom variables here
@mixin colors-light {
    --bg-canvas-hover: var(--color-scale-gray-2);
    --fg-second: var(--color-scale-gray-3);
    --bg-select: var(--color-scale-yellow-0);
}
@mixin colors-dark {
    --bg-canvas-hover: var(--color-scale-gray-6);
    --fg-second: var(--color-scale-gray-6);
    --bg-select: var(--color-scale-yellow-8);
}

:root {
    color-scheme: light;
    @include primer-colors-light;
    @include colors-light;
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        @include primer-colors-dark;
        @include colors-dark;
    }
}

html, body {
    background-color: var(--color-canvas-default);
    color: var(--color-fg-default);
}
