@import './colors.scss';


// custom variables here
@mixin colors-light {
    --bg-canvas-hover: var(--color-scale-gray-2);
    --fg-second: var(--color-scale-gray-3);
    --bg-select: var(--color-scale-yellow-0);
    --kbd-gradient: linear-gradient(to bottom, var(--color-scale-gray-0), var(--color-scale-gray-2));
    --bg-scrollbar: var(--color-scale-gray-1);
    --shadow: 0px 4px 8px 0px rgb(0 0 0 / 15%);
    --bg-on-paper: var(--color-scale-white);
    --bg-button: var(--color-scale-gray-2);
}
@mixin colors-dark {
    --bg-canvas-hover: var(--color-scale-gray-6);
    --fg-second: var(--color-scale-gray-5);
    --bg-select: var(--color-scale-yellow-8);
    --kbd-gradient: linear-gradient(to bottom, var(--color-scale-gray-7), var(--color-scale-gray-8));
    --bg-scrollbar: var(--color-canvas-inset);
    --shadow: var(--color-shadow-large);
    --bg-on-paper: var(--color-scale-gray-7);
    --bg-button: var(--color-scale-gray-6);
}

:root {
    color-scheme: light;
    @include primer-colors-light;
    @include colors-light;
}
// highlight.js themes
@import 'github';
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        @include primer-colors-dark;
        @include colors-dark;
    }
    @import 'atom-one-dark';
}

html, body {
    background-color: var(--color-canvas-default);
    color: var(--color-fg-default);
}
