@use 'sass:math';

$gold-ratio: math.div(math.sqrt(5) - 1, 2); // ≈0.618

$font-size: 16px;
$line-height: 1.375;
$font-family:
    'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont,
    Roboto, Ubuntu, 'Droid Sans', 'Noto Sans', 'Liberation Sans',
    Helvetica, Arial, sans-serif,
    'Apple Color Emoji', NotoColorEmoji;
