@use 'sass:math';
@import './styles/index.scss';
@import './styles/ui/layout.scss';
@import './styles/ui/content.scss';


.big-header {
    text-align: center;

    .logo {
        margin-top: $margin * 4;
        width: 80px;
        height: 80px;
        filter: drop-shadow(rgb(0 0 0 / 20%) 0px 2px 4px);
    }
    .name {
        margin: 0;
        font-weight: 600;
    }
}

.search {
    position: relative;
    margin: $margin*5 auto $margin*3 auto;
    width: 540px;
    box-sizing: border-box;

    .search-icon {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .search-index {
        width: 100%;
        padding-left: 40px;
        border-radius: 4px;
        box-shadow: var(--color-shadow-medium);
        transition: .3s;
        transition-property: box-shadow, border-color;

        &:focus {
            box-shadow: var(--color-shadow-large);
        }
    }
}

.intro {
    margin: 0 auto;
    max-width: 540px;
    // border-radius: 6px;
    // border: 1px solid var(--color-border-subtle);
    // overflow: hidden;

    .intro-item {
        display: inline-block;
        margin-left: 28px;
        color: var(--color-fg-muted);
        font-size: $font-size-small;
        vertical-align: text-bottom;
        cursor: pointer;
        transition: .25s;

        &#more { margin-left: $margin; }
        
        & > .title,
        &#more {
            padding: 6px 12px;
            background-color: var(--color-success-subtle);
            border-radius: 60px;    
            list-style: none;
        }

        &:hover > .title,
        &#more:hover {
            color: var(--color-fg-default);
            background-color: var(--color-success-muted);
        }
        &[open] > .title {
            color: var(--color-fg-on-emphasis);
            background-color: var(--color-success-emphasis);
        }
    }
    
    .usage-steps,
    .modal {
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: .25s;
    }
    .get-start[open] ~ .usage-steps,
    .modal[open] {
        visibility: visible;
        opacity: 1;
    }
    .usage-steps {
        position: relative;
        display: inline-block;
        margin: $margin*2 0 0 20px;
        padding: 24px 8px 8px 40px;
        list-style: none;
        border: 1px solid var(--color-border-default);
        border-radius: 10px;

        &::before {
            content: '';
            position: absolute;
            top: -11px;
            left: 40px;
            width: 20px;
            height: 20px;
            border: 1px solid var(--color-border-default);
            background-color: var(--color-canvas-default);
            transform: skewX(18deg) rotateZ(-45deg);
            border-bottom-width: 0;
            border-left-width: 0;
            // border-top-right-radius: 4px;
        }

        & > .step {
            position: relative;
            margin-bottom: 6px;
        }

        $size: 20px;
        .step-icon {
            position: absolute;
            left: -30px;
            width: $size;
            height: $size;
            border: 1px solid var(--color-border-default);
            border-radius: 50%;
            font-size: 14px;
            text-align: center;
            line-height: $size;
            box-shadow: var(--color-shadow-medium);

            &::after {
                // content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                height: 20px;
                border-left: 1px solid var(--color-border-default);
            }
        }
    }
    .modal { transform: translate3d(-24px,-52%,0) scale3d(0.96,0.96,1) }
    .modal a:not(:hover) {
        text-decoration: none;
    }

    #open-setting {
        margin: 0 4px;
        padding: 0.2em 0.4em;
        font-size: $font-size-small;
        border: none;
        border-radius: 4px;
        color: var(--color-fg-on-emphasis);
        background-color: var(--color-accent-emphasis);
        box-shadow: var(--color-shadow-medium);
        cursor: pointer;
    }

    a {
        color: var(--color-accent-fg);
    }
}

.footer {
    color: var(--color-fg-subtle);
    text-align: center;
}

#doc-container {
    margin-top: $margin;

    .nav {
        display: flex;
        font-size: $font-size-small;

        .nav-search {
            flex: 1.25;
            position: relative;
            height: 36px;

            .search-icon {
                position: absolute;
                left: 6px;
                top: 8px;
                z-index: 3;
            }

            .search-keybind {
                position: absolute;
                right: 6px;
                top: 6px;
                padding: 2px 8px;
                border-radius: $radius;
                background: var(--kbd-gradient);
                box-shadow: var(--color-shadow-small);
                z-index: 3;
            }
            
            #nav-input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 36px;
                padding: 8px 32px;
                border-radius: $radius;
                transition: .15s;
                z-index: 2;

                &:focus {
                    width: 161.8%;
                    border-radius: 0;
                    box-shadow: var(--color-shadow-large);

                    & + .search-keybind {
                        visibility: hidden;
                    }
                }
            }
        }

        .nav-block {
            flex: 3;
            margin: 0 $margin*2;
        }

        #breadcrumb {
            margin: 4px 0 0 0;
            padding: 0;
            list-style: none;

            & > .breadcrumb-item {
                display: inline-block;
                margin: 0 0 4px 0;
                
                & > a, &:last-of-type {
                    display: inline-block;
                    padding: 4px $padding;
                    background-color: var(--color-accent-subtle);
                    border-radius: 50px;
                }
                & > a {
                    text-decoration: none;
                    color: var(--color-accent-fg);
                }

                &:not(:last-of-type)::after {
                    content: '>';
                    position: relative;
                    top: -1px;
                    margin: 0 4px;
                }
            }
        }

        .nav-lang {
            flex: 1;
            text-align: right;
            margin-top: 4px;

            .lang-icon {
                position: relative;
                top: -2px;
                color: var(--color-fg-default);
                vertical-align: middle;
            }

            .language {
                width: 100px;

                & > option {
                    font-size: 16px;
                }
            }
        }
    }

    .doc {
        display: flex;
        margin-top: $margin*2;

        .related {
            flex: 1.25;

            & > .related-title {
                margin-top: 3.135rem;
                font-weight: 500;
            }
        }

        .body {
            flex: 3;
            position: relative;
            margin: 0 $margin*2;
            overflow: hidden;

            @include mixContent;
        }

        #doc-title {
            word-break: break-word;
        }

        .sidebar {
            flex: 1;
        }
        #toc {
            position: sticky;
            top: $margin*3;
            max-height: calc(100vh - ($margin*3 + $titlebar-height + $statusbar-height + $padding*2));
            margin: 3rem 0 0 0;
            padding: 8px 0;
            font-size: $font-size-small;
            line-height: 1.15;
            border-radius: $radius;
            list-style: none;
            box-sizing: border-box;
            box-shadow: var(--color-shadow-large);
            overflow-y: auto;

            & > .toc-item {
                margin: 0;
                counter-increment: num;
                
                & > a {
                    display: block;
                    padding: 8px 16px 8px calc(10% + 4px);
                    color: var(--color-fg-default);
                    text-decoration: none;
                    transition: .3s;

                    &:hover {
                        color: var(--color-accent-fg);
                        background-color: var(--color-neutral-subtle);
                    }

                    &::before {
                        content: counter(num)".";
                        position: absolute;
                        right: 90%;
                        color: var(--fg-second);
                    }
                }
            }
        }
    }
}
